* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.behindForm
    display: flex
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    padding 35px