body {
  background: offwhite;
}
#content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.navContainer {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  width: 1500px;
  padding: 35px;
  background-color: #9fa1a3;
  display: flex;
  margin: 15px;
}
.nav-img {
  height: 60px;
  margin-right: 30px;
}
.link {
  color: #fff;
  font-size: 30px;
  display: inline;
  justify-content: space-around;
  padding: 20px;
  text-decoration: none;
}
.activeLink {
  border-bottom: solid 2px #0047ab;
  animation: dropdown 0.2s forwards;
}
@font-face {
  font-family: 'JosefinSans', font-style normal, src url("https://fonts.googleapis.com/css?family=Josefin+Sans");
}
html {
  font-size: 10px;
  font-family: sans-serif;
}
p {
  font-size: 1.6rem;
  line-height: 1.5;
}
h1 {
  font-family: JosefinSans, 'JosefinSans';
  color: #125688;
  text-align: center;
  font-weight: 100;
  font-size: 13rem;
  margin: 2rem 0;
  letter-spacing: -1px;
  text-shadow: 0px 4px 0 rgba(18,86,136,0.11);
}
h1 a {
  color: #125688;
  text-decoration: none;
}
h1 a:focus {
  outline: 0;
}
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
