/* /src/style.css */

.Home-container {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    width: 100%;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    background-color: rgb(200, 202, 206);
}

.navContainer {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;
    background: cyan;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left top, cyan, blue);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(bottom right, cyan, blue);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(bottom right, cyan, blue);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom right, cyan, blue);
    /* Standard syntax */
    height: 75px;
    padding-left: 0px;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
    z-index: 1;
    animation: fadein 0.75s forwards;
}

.link {
    display: inline;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin: 0 50px;
    padding: 20px 20px;
    text-decoration: none;
}

.activeLink {
    border-bottom: solid 4px white;
    animation: dropdown 0.2s forwards;
}

.placeholder {
    width: 100%;
    height: 75px;
}

@media (max-width: 800px) {
    .navContainer {
        box-shadow: none;
        max-width: 800px;
        justify-content: space-around;
        width: 100%;
        height: 40px;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
        box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    }
    .link {
        font-size: 14px;
        padding: 10px;
        margin: 0px;
    }
    .placeholder {
        height: 22px;
    }
}

.View {
    background-color: white;
}

.Evaluation {
    font-family: 'Abyssinica SL';
    width: 320px;
    height: 465px;
    color: white;
    font-size: 24px;
    background-color: #0047ab;
    border-radius: 5px;
    margin: 5px;
    padding: 15px;
    text-align: left;
}

.Evaluation-title {
    display: inline;
}