<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="styles/semantic/dist/semantic.min.js"></script>
    <script src="js/main.js" type="text/javascript"></script>
    <script src="js/helpers.js" type="text/javascript"></script>
    <title>
        Configs
    </title>
</head>

<body>

    // TODO: make this cable of having all data in one line with button options consider simplfying
    <div id="configurationlist" class="ui container">

        <table class="ui celled table">
            <thead>
                <tr>
                    <th>Team</th>
                    <th>Name</th>
                    <th>Rotors</th>
                    <th>Battery</th>
                    <th>Flight Controller</th>
                    <th>Height</th>
                    <th>Weight</th>
                    <th>Notes</th>
                </tr>
            </thead>
            <tbody id="configTableBody">
                <!--- Start of a single Config -->
                <tr id="config0">
                    <td>
                        Team
                    </td>
                    <td>
                        Name
                    </td>
                    <td>
                        Rotors
                    </td>
                    <td>
                        Battery
                    </td>
                    <td>
                        Flight Controller
                    </td>
                    <td>
                        Hieght
                    </td>
                    <td>
                        weight
                    </td>
                    <td>
                        Notes
                    </td>
                </tr>
                <button> Edit</button>
                <button>Delete</button>
                <!-- End of a single Config -->
            </tbody>
        </table>
    </div>
</body>

</html>