<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="styles/semantic/dist/semantic.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/helpers.js"></script>
    <title>
        Evals
    </title>
</head>

<body>

    <div id="evaluationlist" class="ui container">
        <!--- Start of a single evaluation -->
        <div id="evaluation0" class="ui">
            <div class=" ui four column grid  attached  blue segment">
                <div class="column">
                    <div class="ui blue  large label">
                        NERVE
                    </div>
                    <br />
                    <div class="ui  small label">
                        Team
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue  large label">
                        1-1-1
                    </div>
                    <br/>
                    <div class="ui  small label">
                        Task
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue large label">
                        No Crash, Saftey Call
                    </div>
                    <br/>
                    <div class="ui   small label">
                        Result
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue large label">
                        75%
                    </div>
                    <br/>
                    <div class="ui small label">
                        Success Percent
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue large label">
                        My Quadcopter
                    </div>
                    <br/>
                    <div class="ui  label">
                        Config
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue large label">
                        12:00 min
                    </div>
                    <br/>
                    <div class="ui  label">
                        Total Time
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue large label">
                        6:45 min
                    </div>
                    <br/>
                    <div class="ui  label">
                        Goal Time
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue large label">
                        The quad was heading towards another vehilce
                    </div>
                    <br/>
                    <div class="ui  label">
                        Notes
                    </div>
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                <button class="ui  red button" onclick="deleteElementFromAllThings('evals',0) ">Delete</button>
                <button class="ui  purple button" onclick="showPage(2) ">Edit</button>
            </div>
        </div>
        <!-- End of a single evaluation -->
    </div>


</body>

</html>