<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../styles/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"></script>
    <script src="styles/semantic/dist/semantic.min.js"></script>
    <script src="js/main.js" ></script>
    <script src="js/helpers.js" ></script>
    <title>
        Runs
    </title>
</head>

<body>
    <div id="runlist" class="ui container">
        <!--- Start of a single Run -->
        <div id="run${x}">
                <div class="ui two top attached buttons">
                        <button class="ui green button" onclick="showPage(4)">GPS</button>
                    </div>
                <div class=" ui two column grid  attached  segment">
                <div class="column">
                    <div class="ui blue  large label">
                            ${teamValue}
                    </div>
                    <br />
                    <div class="ui  small label">
                        Team
                    </div>
                </div>
                <div class="column">
                    <div class="ui blue  large label">
                            ${taskValue}
                    </div>
                    <br/>
                    <div class="ui  small label">
                        Task
                    </div>
                </div>
            </div>
            <div class="ui two bottom attached buttons">
                    <button class="ui red button" onclick="deleteElementFromAllThings('runs',${x})">Delete</button>
                    <button class="ui purple button" onclick="showPage(2)">Edit</button>
            </div>
        </div>
        <!-- End of a single Run -->
    </div>


</body>

</html>
